[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyPDF2 = "==1.26.0"
spacy = "==3.0.6"
transformers = "==4.11.3"
streamlit = "==1.5.0"

[dev-packages]

[requires]
python_version = "3.8"

